  <nav class='titleBar'>
    <h1>Trade App</h1>
  </nav>

  <article class='jumbotron container-fluid'>
    <article class='row top'>
      <article class="col left">
        <h2>New Trade</h2>
        <br/>
        <table>
          <tr>
            <td>Ticker:</td>
            <td><input [(ngModel)]="tickerInput" placeholder="Enter Ticker" />
              <button (click)='getStockData()'>Search</button>
            </td>
          </tr>
          <tr>
            <td><p>Amount: </p></td>
            <td><input (input)="updatePrice()" [(ngModel)]="amountInput" placeholder="Enter Amount" /></td>
          </tr>
          <tr>
            <td><p>Price: </p></td>
            <td><input [(ngModel)]="price" placeholder="Total Price" /></td>
          </tr>
          <tr>
            <td><label class="switch">
              <input (input)="updateTradeType()" [(ngModel)]="tradeTypeInput" type="checkbox">
              <span class="slider round"></span>
            </label> {{tradeType}}</td>
            <td><button (click)="submitTrade()">Submit</button></td>
          </tr>
        </table>

      </article>

      <article class="col middle">
        <h2>Stock Data</h2>

        <br />
        <table>
          <tr>
            <td>Date:</td>
            <td>{{tradeData.date}}</td>
          </tr>
          <tr>
            <td>Current Price:</td>
            <td>{{tradeData.currentPrice}}</td>
          </tr>
          <tr>
            <td>Suggestion:</td>
            <td>{{tradeData.status}}</td>
          </tr>
          <tr>
            <td>Buy Price:</td>
            <td>{{tradeData.buyPrice}}</td>
          </tr>
          <tr>
            <td>Sell Price:</td>
            <td>Sell Price: {{tradeData.sellPrice}}</td>
          </tr>
        </table>
      </article>

      <article class="col-6 right">
        <aside echarts [options]="options" class="demo-chart"></aside>
      </article>

    </article>

    <article class='row'>
      <article class='col below'>
        <h2>Trade History</h2><br />
        <table class='tradesTable'>
          <tr>
            <th>Ticker</th>
            <th>Buy/Sell</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Status</th>
            <th>Timestamp</th>
          </tr>
          <tr *ngFor="let trade of allTrades">
            <td>{{trade.ticker}}</td>
            <td>{{trade.tradeType}}</td>
            <td>{{trade.amount}}</td>
            <td>{{trade.price}}</td>
            <td>{{trade.state}}</td>
            <td>{{trade.id.date | date:'medium' }}</td>
          </tr>
        </table>
      </article>
    </article>

  </article>
